@model IEnumerable<ComponentesMVC.Models.Pedido>

@{
    ViewData["Title"] = "ListaPedidos";
}

<h1>Pedidos de la factura</h1>

<a asp-action="Index">Volver a Lista</a>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        </tr>
    }
    </tbody>
</table>